<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hapi API</title>
    {{!-- Picocss cdn installation --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>

<body>
    <nav>
        <ul class="flex space-x-2">
            <li><a class="text-3xl text-blue-900" href="/">home</a></li>
            <li><a href="/users">users</a></li>
            <li><a href="/api">api</a></li>
        </ul>
    </nav>
    <main class="container">
        {{{content}}}
    </main>
</body>

</html>