<h1>User List</h1>
<table class="table">
  <thead>
    <tr>
      <th class="table-header">ID</th>
      <th class="table-header">Email</th>
      <th class="table-header">Password</th>
      <th class="table-header" colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.email}}</td>
      <td>{{this.password}}</td>
      <td><button class="btn-delete">Delete</button></td>
      <td><button class="btn-edit">Edit</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>